[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-postgres = "*"
dbt-duckdb = "*"
pandas = "*"
sqlalchemy = "*"
redis = "*"
pytest = "*"
pytest-benchmark = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3.9"
